
.navbar-container {
    user-select: none;
}

.navbar_list {
    /* Aqui mantenemos todos las listas cerradas por defecto */
    list-style: none;
    height: 0;
    interpolate-size: allow-keywords;
    -moz-interpolate-size: allow-keywords;
    overflow: hidden;
    transition: height .3s ease;
}

/* Coloreado de los items */
.navbar_item > label {
    display: block;
    width: 100%;
}
.navbar_item > label:hover {
    background: teal;
}

.navbar-container>.navbar_list {
    height: auto;
    font-weight: 500;
}


.navbar_item>.navbar_list {
    padding-left: 1rem;

}

/* ------------ */


.navbar_list-check {
    /* los checkes no es necesario que se vean */
    display: none;
}

.navbar_list-check:checked~ul {
    height: auto
}