@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Para Firefox */
    appearance: none; /* Estándar futuro, por si acaso */
}

html {
    font-family: 'Montserrat', sans-serif;

}



body {
    background-color: #d4d4d4;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='100' viewBox='0 0 200 100'><text x='50%' y='50%' dominant-baseline='middle' text-anchor='middle' font-family='sans-serif' font-size='20' font-weight='bolder' fill='%23888888' opacity='0.2' transform='rotate(-20, 100, 50)'>ShinyApp</text></svg>");
    background-repeat: repeat;
    background-size: 200px 100px;
}

